<footer id="contact">
    <ul class="footer-nav">
        <li><a href="https://www.bryantcabrera.com" target="blank">About Me</a></li>
        <li><a href="https://www.linkedin.com/in/bryantcabrera/" target="blank">LinkedIn</a></li>
        <li><a href="https://github.com/BryantCabrera" target="blank">GitHub</a></li>
    </ul>


    <ul class="social-links">
        <li><a href="https://www.facebook.com/bryantcabrera" target="blank"><i class="ion-social-facebook"></i></a></li>
        <li><a href="https://twitter.com/bryantcabrera" target="blank"><i class="ion-social-twitter"></i></a></li>
        <li><a href="plus.google.com/+BryantCabrera" target="blank"><i class="ion-social-googleplus"></i></a></li>
        <li><a href="https://www.instagram.com/bryantcabrera/" target="blank"><i class="ion-social-instagram"></i></a></li>
    </ul>
</footer>

</body>
</html>