<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <img src="/imgs/logo_black.png" alt="Bryant TutorMe Logo" title="Bryant TutorMe Logo">
    <h1>Bryant Cabrera</h1>
    <a href="/auth/logout">Log Out</a>
