<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <img src="../../public/imgs/logo_black.png" alt="Bryant Logo" title="Bryant Logo">
    <h1>Bryant Cabrera</h1>
    <ul>
        <li><a href="/" alt="Home Link" title="Home Link">Home</a></li>
        <li><a href="#" alt="Log-In Link" title="Log-In Link">Log-In</a></li>
        <li><a href="#" alt="Sign Up Link" title="Sign Up Link">Sign Up</a></li>
        <li><a href="#" alt="Contact Link" title="Contact Link">Contact</a></li>
    </ul>
</header>