/******************************/
/********** Footer **********/
/******************************/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, $color-grey-dark-3, $color-black);

}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: .5rem;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: $color-primary;
    transition: color 0.2s;
    font-size: 1.6rem;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: $color-primary;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 2.6rem;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;

}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}