/******************************/
/********** Header **********/
/******************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background-image: linear-gradient(to bottom, $color-grey-dark-3, $color-black);
    color: $color-primary;

    & img {
        height: 4rem;
    }

}