<%- include('./partials/header', { 
    title: 'TutorMe Home Page'
}); %>

<nav>
    <ul>
        <li><a href="#" alt="Log-In Link" title="Log-In Link">Log-In</a></li>
        <li><a href="#" alt="Sign Up Link" title="Sign Up Link">Sign Up</a></li>
        <li><a href="#" alt="Contact Link" title="Contact Link">Contact</a></li>
    </ul>
</nav>
</header>

<main>
    <section class="onboarding">
        <!-- Registration Form Here -->
    </section>
</main>

<%- include('./partials/footer') %>