<%- include('./partials/header', { 
    title: 'TutorMe Home Page'
}); %>

<main>
    <section class="onboarding">
        <h1>Get Started</h1>
        <h2>Sign Up Today!</h2><br>

        <%= message %>

        <div class="index__register--form">
            <h2>Register</h2>
            <form action="/auth/registration" method="POST" accept-charset="etf-8">
            Account Type*: <select name="account">
                    <option value="Tutor">Tutor</option>
                    <option value="Student">Student</option>
                </select><br>
                Name*: <input type="text" name="name"><br>
                Email*: <input type="email" name="email"><br>
                Password*: <input type="password" name="password"><br>
                Rate*: <input type="text" name="rate"><br>
                Payment Info*: <input type="text" name="paymentInfo"><br>
                Location*: <input type="number" name="location"><br>
                <button type="submit" class="btn">Register</button>
            </form><br>
        </div>

        <div class="index__login--form">
            <h2>Login</h2>
            <form action="/auth/login" method="POST" accept-charset="etf-8">
                Account Type*: <select name="account">
                    <option value="Tutor">Tutor</option>
                    <option value="Student">Student</option>
                </select><br>
                Email*: <input type="email" name="email"><br>
                Password*: <input type="password" name="password"><br>
                <button type="submit" class="btn">Log In</button>
            </form>
        </div>

        <p class="index__login--text">
            Already a registered user? <a href="#" class="index__login--btn">LogIn</a>
        </p>

        <p class="index__register--text">
            Not registered yet? <a href="#" class="index__register--btn">Register</a>
        </p>

        
        
    </section>
    <section id="video">
    </section>
</main>

<section id="benefits">
</section>
<section id="testimonials">
    
</section>


<script>
$('.index__login--btn').on('click', function () {
    $('.index__login--form').css('display', 'block');
    $('.index__register--form').css('display', 'none');
    $('.index__login--text').css('display', 'none');
    $('.index__register--text').css('display', 'block');
});

$('.index__register--btn').on('click', function () {
    $('.index__login--form').css('display', 'none');
    $('.index__register--form').css('display', 'block');
    $('.index__login--text').css('display', 'block');
    $('.index__register--text').css('display', 'none');
});
</script>

<%- include('./partials/footer') %>