<%- include('./partials/header', { 
    title: 'TutorMe Home Page'
}); %>

<main class="home">
    <section id="onboarding" class="onboarding">
        <h1>Tutor Me</h1>

        <% if (currentUser) { %>
            <p>
                Thank you for joining us.<br>
                We appreciate your support!
            </p>
        <% } else { %>
            <h2>Sign Up Today!</h2><br>

            <span class="message"><%= message %></span>

            <div class="index__register--form">
                <h2>Register</h2>
                
                Account Type*: <select name="account" id="accounts">
                        <option value="Tutor">Tutor</option>
                        <option value="Student">Student</option>
                    </select><br>

                <form action="/auth/registration/Tutor" method="POST" accept-charset="etf-8" class="tutor-form">
                    Name*: <input type="text" name="name" required><br>
                    Email*: <input type="email" name="email" required><br>
                    Password*: <input type="password" name="password" required><br>
                    Rate*: <input type="text" name="rate" required><br>
                    Payment Info*: <input type="text" name="paymentInfo" required><br>
                    Location*: <input type="number" minlength="5" maxlength="5" name="location" required title="Enter Zip Code"><br>
                    <button type="submit" class="btn">Register</button>
                </form>
                <form action="/auth/registration/Student" method="POST" accept-charset="etf-8" class="student-form">
                    Name*: <input type="text" name="name" required><br>
                    Email*: <input type="email" name="email" required><br>
                    Password*: <input type="password" name="password" required><br>
                    Age*: <input type="number" name="age" required><br>
                    Payment Info*: <input type="text" name="paymentInfo" required><br>
                    Location*: <input type="number" minlength="5" maxlength="5" name="location" required title="Enter Zip Code"><br>
                    <button type="submit" class="btn">Register</button>
                </form><br>
            </div>

            <div class="index__login--form">
                <h2>Login</h2>
                <form action="/auth/login" method="POST" accept-charset="etf-8">
                    Account Type*: <select name="account">
                        <option value="Tutor">Tutor</option>
                        <option value="Student">Student</option>
                    </select><br>
                    Email*: <input type="email" name="email"><br>
                    Password*: <input type="password" name="password"><br>
                    <button type="submit" class="btn">Log In</button>
                </form>
            </div>

            <p class="index__login--text">
                Already a registered user? <a href="#" class="index__login--btn">LogIn</a>
            </p>

            <p class="index__register--text">
                Not registered yet? <a href="#" class="index__register--btn">Register</a>
            </p>  
        <% } %>
    </section>

    <section id="media" class="media">
        <h2>Learn More About TutorMe</h2>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/hIkclaA-HYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="composition">
            <img src="/imgs/study1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
            
            <img src="/imgs/study2.png" alt="Photo 2" class="composition__photo composition__photo--p2">
            
            <img src="/imgs/study3.png" alt="Photo 3" class="composition__photo composition__photo--p3">
        </div>
    </section>

    <section id="benefits" class="benefits">
        <div class="benefits__title">
            <h2>Benefits &mdash; Plenty</h2>
        </div>
        <img src="/imgs/app-iPhone.png" alt="TutorMe app on iPhone" title="TutorMe app on iPhone" class="app-screen">
        <div class="benefits__list">
            <div class="benefits__list--item">
                <div>1</div>
                <p>Exposure to many potential clients/teachers.</p>
            </div>
            <div class="benefits__list--item">
                <div>2</div>
                <p>Connect with the push of a button.</p>
            </div>
            <div class="benefits__list--item">
                <div>3</div>
                <p>Keeps roster organized.</p>
            </div>
            
            <a href="#" class="btn-app"><img src="/imgs/download-app.svg" alt="App Store Button" title="App Store Button"></a>
            <a href="#" class="btn-app"><img src="/imgs/download-app-android.png" alt="Play Store Button" title="Play Store Button"></a>
        </div>
    </section>

    <section id="testimonials" class="testimonials">
        <div class="testimonials__title">
            <h2>Our Customers Learn Better With Us</h2>
        </div>
        <div class="testimonials__quotes">
            <blockquote class="testimonials__quotes--1">
                TutorMe is just awesome! I just started a new job which leaves me with no time for studying. I'm working towards my web developer degree, and this tutoring service has been a blessing!
                <cite><img src="/imgs/profile-pictures/Kevin.png" alt="Customer 1 photo" title="Customer 1 photo">Kevin Cuison</cite>
            </blockquote>

            <blockquote class="testimonials__quotes--2">
                As a tutor, I have had an amazing time at TutorMe.  I can set my rates, schedule, and contact students at the touch of a button.  We have lots of tutoring sites here in Los Angeles, but no one comes close to TutorMe!
                <cite><img src="/imgs/profile-pictures/Michael.png" alt="Customer 2 photo" title="Customer 2 photo">Michael Siller</cite>
            </blockquote>

            <blockquote class="testimonials__quotes--3">
                As a full-time pre-med student in college, I was looking for an on-demand tutoring service that could provide quality tutors.  I love that I can see feedback from other students about tutors I'm considering.
                <cite><img src="/imgs/profile-pictures/Abraham.png" alt="Customer 3 photo" title="Customer 3 photo">Abraham Hsu</cite>
            </blockquote>
        </div>
    </section>
</main>


<script>
    $('.index__login--btn').on('click', function () {
        $('.index__login--form').css('display', 'block');
        $('.index__register--form').css('display', 'none');
        $('.index__login--text').css('display', 'none');
        $('.index__register--text').css('display', 'block');
    });

    $('.index__register--btn').on('click', function () {
        $('.index__login--form').css('display', 'none');
        $('.index__register--form').css('display', 'block');
        $('.index__login--text').css('display', 'block');
        $('.index__register--text').css('display', 'none');
    });

    
    $('.student-form').hide();

    $('#accounts').change(function () { 
        let account = $('#accounts option:selected').val(); 

        if (account == 'Tutor') { 
            $('.tutor-form').show();
            $('.student-form').hide();
        } else if (account == 'Student') { 
            $('.tutor-form').hide();
            $('.student-form').show();
        } 
    }); 
</script>

<%- include('./partials/footer') %>