/*D4B868*/
/*DBCFAD*/
/*A18C4F*/
/*544929*/
/*6B6250*/
/*615648*/
/*545043*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  padding: 3rem;
  height: 100vh;
  width: 100vw; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  -webkit-transform: translateY(-0.3rem);
  -moz-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  -o-transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  /* this -1pxisinrelationto :link, not :hover */
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #d4b868;
  color: #fff; }
  .btn--green::after {
    background-color: #d4b868; }

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #d4b868;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #d4b868;
  padding: 3px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s; }

.btn-text:hover {
  background-color: #d4b868;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

/******************************/
/********** Footer **********/
/******************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #333, #000); }

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px; }

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: .5rem; }

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #d4b868;
  transition: color 0.2s;
  font-size: 1.6rem; }

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #d4b868; }

.social-links li a:link,
.social-links li a:visited {
  font-size: 2.6rem; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s; }

.ion-social-facebook:hover {
  color: #3b5998; }

.ion-social-twitter:hover {
  color: #00aced; }

.ion-social-googleplus:hover {
  color: #dd4b39; }

.ion-social-instagram:hover {
  color: #517fa4; }

/******************************/
/********** Header **********/
/******************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-image: linear-gradient(to bottom, #dbcfad, #d4b868);
  color: #544929; }
  header img {
    height: 4rem; }

/***** Navigation *****/
/* header nav ul {
    display: flex;
    place-items: center;
    list-style: none;

    & li {
        margin-right: .5rem;

        & a:link,
        & a:visited {
            text-decoration: none;
            color: $color-secondary-dark;
            text-transform: uppercase;
        }

        & a:hover,
        & a:active {
            text-decoration: none;
            color: $color-primary-light;
            text-transform: uppercase;
        }
    }
} */
.navigation__checkbox {
  display: none; }

.navigation__button {
  background-image: radial-gradient(#dbcfad, #a18c4f);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3rem;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 4rem;
  right: 5rem;
  border-radius: 0.1rem;
  background-image: radial-gradient(#dbcfad, #544929);
  z-index: 1000;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: .7; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 27%;
  left: 85%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #d4b868;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scaleX(7) scaleY(10) translate(-0.6rem, 0.8rem); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.onboarding {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 40rem;
  width: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(to bottom, rgba(219, 207, 173, 0.8), rgba(212, 184, 104, 0.8)), url("../../imgs/index_header_bg.jpeg");
  background-size: cover;
  background-position: top;
  color: #544929; }
  .onboarding div {
    text-align: center; }
  .onboarding form {
    text-align: right; }
    .onboarding form input {
      margin: .2rem; }

.index__login--form {
  display: none; }

.index__register--text {
  display: none; }
