/*D4B868*/
/*DBCFAD*/
/*A18C4F*/
/*544929*/
/*6B6250*/
/*615648*/
/*545043*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, rgba(219, 207, 173, 0.8), rgba(212, 184, 104, 0.8)); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  -webkit-transform: translateY(-0.3rem);
  -moz-transform: translateY(-0.3rem);
  -ms-transform: translateY(-0.3rem);
  -o-transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  /* this -1pxisinrelationto :link, not :hover */
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.1rem); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #d4b868;
  color: #fff; }
  .btn--green::after {
    background-color: #d4b868; }

.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #d4b868;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #d4b868;
  padding: 3px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s; }

.btn-text:hover {
  background-color: #d4b868;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  width: 30rem; }
  .card__side {
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #6b6250, #545043); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #dbcfad, #544929); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #6b6250, #545043); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #dbcfad, #544929); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .card__picture--profile {
      height: auto;
      width: 70%;
      border-radius: 50%; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(107, 98, 80, 0.85), rgba(84, 80, 67, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(219, 207, 173, 0.85), rgba(84, 73, 41, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.users-index__cards .card {
  margin: 2rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 20rem; }
  .users-index__cards .card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .users-index__cards .card__side--front {
      background-color: #fff; }
    .users-index__cards .card__side--back {
      transform: rotateY(180deg); }
      .users-index__cards .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #6b6250, #545043); }
      .users-index__cards .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #dbcfad, #544929); }
      .users-index__cards .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .users-index__cards .card:hover .users-index__cards .card__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg); }
  .users-index__cards .card:hover .users-index__cards .card__side--back {
    transform: rotateY(0); }
  .users-index__cards .card__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .users-index__cards .card__picture--1 {
      background-image: linear-gradient(to right bottom, #6b6250, #545043); }
    .users-index__cards .card__picture--2 {
      background-image: linear-gradient(to right bottom, #dbcfad, #544929); }
    .users-index__cards .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .users-index__cards .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .users-index__cards .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .users-index__cards .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(107, 98, 80, 0.85), rgba(84, 80, 67, 0.85)); }
    .users-index__cards .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(219, 207, 173, 0.85), rgba(84, 73, 41, 0.85)); }
    .users-index__cards .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .users-index__cards .card__details {
    padding: 3rem; }
    .users-index__cards .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .users-index__cards .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .users-index__cards .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .users-index__cards .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .users-index__cards .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .users-index__cards .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .users-index__cards .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .users-index__cards .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .users-index__cards .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .users-index__cards .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .users-index__cards .card:hover .users-index__cards .card__side--front {
        transform: rotateY(0); }
      .users-index__cards .card__details {
        padding: 1rem 3rem; }
      .users-index__cards .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .users-index__cards .card__price-box {
        margin-bottom: 3rem; }
      .users-index__cards .card__price-value {
        font-size: 4rem; } }

.feedback {
  background-color: rgba(119, 119, 119, 0.4);
  height: 75%;
  overflow-y: scroll; }
  .feedback ul {
    text-align: left; }
    .feedback ul li {
      margin: 1rem;
      list-style: none; }

#map {
  display: flex;
  place-items: center;
  height: 25rem;
  width: 29rem; }

/******************************/
/********** Footer **********/
/******************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to top, #333, #000); }

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px; }

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: .5rem; }

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #d4b868;
  transition: color 0.2s;
  font-size: 1.6rem; }

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #d4b868; }

.social-links li a:link,
.social-links li a:visited {
  font-size: 2.6rem; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s; }

.ion-social-facebook:hover {
  color: #3b5998; }

.ion-social-twitter:hover {
  color: #00aced; }

.ion-social-googleplus:hover {
  color: #dd4b39; }

.ion-social-instagram:hover {
  color: #517fa4; }

/******************************/
/********** Header **********/
/******************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-image: linear-gradient(to bottom, #dbcfad, #d4b868);
  color: #544929; }
  header img {
    height: 4rem; }

/***** Navigation *****/
.navigation__checkbox {
  display: none; }

.navigation__button {
  background-image: radial-gradient(#dbcfad, #a18c4f);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 0;
  right: 4rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 1rem;
  right: 5rem;
  border-radius: 0.1rem;
  background-image: radial-gradient(#dbcfad, #544929);
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: .7; }

.navigation__nav {
  display: none;
  height: 100%;
  width: 100%;
  font-size: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  list-style: none;
  text-align: left; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #d4b868;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  height: 14rem;
  width: 15rem;
  border-radius: 0.3rem; }

.navigation__checkbox:checked ~ .navigation__background > .navigation__nav {
  display: block;
  font-size: .5rem; }

.navigation__icon {
  position: relative;
  margin-top: 2rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.onboarding {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 40rem;
  width: 100%;
  padding: 1rem 0;
  background-image: linear-gradient(to bottom, rgba(219, 207, 173, 0.8), rgba(212, 184, 104, 0.8)), url("../../imgs/index_header_bg.jpeg");
  background-size: cover;
  background-position: top;
  color: #544929; }
  .onboarding div {
    text-align: center; }
  .onboarding form div {
    text-align: right; }
    .onboarding form div input {
      margin: .2rem; }
  .onboarding form {
    text-align: right; }
    .onboarding form input {
      margin: .2rem; }

.index__login--form {
  display: none; }

.index__register--text {
  display: none; }

.users-index {
  text-align: center; }
  .users-index__cards {
    display: flex;
    flex-wrap: wrap; }

.tutors-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "profile stats" "schedule schedule" "students students";
  justify-content: center;
  align-items: center; }
  .tutors-show__card {
    margin-top: 1rem;
    grid-area: profile;
    justify-self: center; }
  .tutors-show__stats {
    margin-top: 1rem;
    grid-area: stats;
    justify-self: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 40rem;
    width: 30rem;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .tutors-show__stats .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .tutors-show__stats .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }
  .tutors-show__schedule {
    grid-area: schedule;
    justify-self: center;
    height: 35rem;
    width: 90vw;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .tutors-show__schedule .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .tutors-show__schedule .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }
  .tutors-show__current-students {
    grid-area: students;
    justify-self: center;
    height: 35rem;
    width: 90vw;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .tutors-show__current-students .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .tutors-show__current-students .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }
  .tutors-show__feedback {
    grid-area: students;
    justify-self: center;
    height: 35rem;
    width: 90vw;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .tutors-show__feedback .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .tutors-show__feedback .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }

.tutors-edit {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-image: linear-gradient(to bottom, rgba(219, 207, 173, 0.8), rgba(212, 184, 104, 0.8)); }
  .tutors-edit form {
    text-align: right; }

.students-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "profile stats" "schedule schedule" "tutors tutors";
  justify-content: center;
  align-items: center; }
  .students-show__card {
    margin-top: 1rem;
    grid-area: profile;
    justify-self: center; }
  .students-show__stats {
    margin-top: 1rem;
    grid-area: stats;
    justify-self: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 40rem;
    width: 30rem;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .students-show__stats .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .students-show__stats .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }
  .students-show__schedule {
    grid-area: schedule;
    justify-self: center;
    height: 35rem;
    width: 90vw;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .students-show__schedule .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .students-show__schedule .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }
  .students-show__current-students {
    grid-area: tutors;
    justify-self: center;
    height: 35rem;
    width: 90vw;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .students-show__current-students .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .students-show__current-students .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }
  .students-show__feedback {
    grid-area: tutors;
    justify-self: center;
    height: 35rem;
    width: 90vw;
    border: 1px solid #545043;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #999;
    text-align: center;
    font-size: 1.6rem; }
    .students-show__feedback .show__title {
      width: 100%;
      background-image: linear-gradient(to bottom, #6b6250, #615648); }
      .students-show__feedback .show__title h2 {
        font-size: 2.4rem;
        color: #fff; }

.students-edit {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-image: linear-gradient(to bottom, rgba(219, 207, 173, 0.8), rgba(212, 184, 104, 0.8)); }
  .students-edit form {
    text-align: right; }
    .students-edit form input {
      margin: .5rem; }
