.home {
    & section:not(:last-child) h2 {
        font-size: 3rem;
        color: $color-secondary-medium;
    }

    & .onboarding {
        display: flex;
        flex-direction: column;
        place-items: center;
        height: 40rem;
        width: 100%;
        padding: 1rem 0;
        background-image: linear-gradient(to bottom, rgba(219, 207, 173, 0.8), rgba(212, 184, 104, 0.8)), url('../../imgs/index_header_bg.jpeg');
        background-size: cover;
        background-position: top;
        color: $color-primary-dark;
    
        & div {
            text-align: center;
        }
    
        & form div {
            text-align: right;
    
            & input {
                margin: .2rem;
            }
        }
    
        & form {
            text-align: right;
    
            & input {
                margin: .2rem;
            }
        }
    }
    
    & .index__login--form {
        display: none;
    }

    & .index__register--text,
    & .index__login--text {
        font-size: 1.4rem;
    }
    
    & .index__register--text {
        display: none;
    }
    
    & .index__register--form,
    & .index__login--form {
        font-size: 1.6rem;
        font-weight: 500;
    }

    & .message {
        font-size: 2rem;
        font-weight: 700;
        color: rgb(158, 22, 22);
    }
    
    /** Videos **/
    & .video {
        display: flex;
        flex-direction: column;
        place-items: center;
        height: 32.6rem;
        width: 100%;
    }

    /** Benefits **/
    & .benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3rem 1fr 1fr;
        grid-template-areas:  "title title"
                              "img list"
                              "img list";
        height: 32.6rem;
        width: 100%;
        background-color: linear-gradient(to bottom, $color-primary-light, $color-primary);

        &__title {
            grid-area: title;
            justify-self: center;
        }

        & img {
            grid-area: img;
        }

        &__list {
            grid-area: list;
            padding-left: 3%;
            text-align: left;
            font-size: 1.6rem;
            
            &--item {
                display: flex;
                place-items: center;

                &:last-of-type {
                    margin-bottom: 2rem;
                }

                & div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 2.5rem;
                    padding: .5rem;
                    height: 5.4rem;
                    width: 5.4rem;
                    border: 2px solid $color-tertiary-dark;
                    border-radius: 50%;
                    color: $color-tertiary-dark;
                    text-align: center;
                    font-size: 150%;
                }
            }

            & .btn-app:link,
            & .btn-app:visited {
                border: 0;
            }

            & .btn-app img {
                margin-right: 1rem;
                height: 5rem;
                width: auto;
            }
        }
    }

    /** Testimonials **/
    & .testimonials {
        display: flex;
        flex-direction: column;
        place-items: center;
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../../imgs/index_header_bg.jpeg');
        background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../../imgs/index_header_bg.jpeg');
        background-size: cover;
        color: $color-white;
        background-attachment: fixed;

        &__title {
            color: $color-white;
            font-size: 1.8rem;
        }

        &__quotes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "quote1 quote2 quote3";
            font-size: 1.6rem;

            &--1{
                grid-area: quote1;
            }

            &--2{
                grid-area: quote2;
            }

            &--3{
                grid-area: quote3;
            }

            & blockquote {
                padding: 2%;
                font-style: italic;
                line-height: 145%;
                position: relative;
                margin-top: 40px;

                & cite {
                    font-size: 90%;
                    margin-top: 25px;
                    display: block;

                    & img {
                        height: 45px;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
            }

            & blockquote:before {
                content: "\201C";
                font-size: 500%;
                display: block;
                position: absolute;
                top: -5px;
                left: -5px;
            }

            
        }
    }
}

