.students-show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "profile stats"
                         "schedule schedule"
                         "tutors tutors";
    justify-content: center;
    align-items: center;

    &__card {
        margin-top: 1rem;
        grid-area: profile;
        justify-self: center;
    }

    &__stats {
        margin-top: 1rem;
        grid-area: stats;
        justify-self: center;
        display: flex;
        flex-direction: column;
        place-items: center;
        height: 40rem;
        width: 30rem;
        border: 1px solid $color-secondary-dark; 
        border-radius: $border-radius-medium;
        box-shadow: .2rem .2rem .2rem $color-grey-dark-2;
        text-align: center;
        font-size: 1.6rem;

        & .show__title {
            width: 100%;
            background-image: linear-gradient(to bottom, $color-secondary-light, $color-secondary-medium);

            & h2 {
                font-size: 2.4rem;
                color: $color-white;
            }
        }
    }

    &__schedule {
        grid-area: schedule;
        justify-self: center;
        height: 35rem;
        width: 90vw;
        border: 1px solid $color-secondary-dark; 
        border-radius: $border-radius-medium;
        box-shadow: .2rem .2rem .2rem $color-grey-dark-2;
        text-align: center;
        font-size: 1.6rem;

        & .show__title {
            width: 100%;
            background-image: linear-gradient(to bottom, $color-secondary-light, $color-secondary-medium);

            & h2 {
                font-size: 2.4rem;
                color: $color-white;
            }
        }
    }

    &__current-students {
        grid-area: tutors;
        justify-self: center;
        height: 35rem;
        width: 90vw;
        border: 1px solid $color-secondary-dark; 
        border-radius: $border-radius-medium;
        box-shadow: .2rem .2rem .2rem $color-grey-dark-2;
        text-align: center;
        font-size: 1.6rem;

        & .show__title {
            width: 100%;
            background-image: linear-gradient(to bottom, $color-secondary-light, $color-secondary-medium);

            & h2 {
                font-size: 2.4rem;
                color: $color-white;
            }
        }
    }

    &__feedback {
        grid-area: tutors;
        justify-self: center;
        height: 35rem;
        width: 90vw;
        border: 1px solid $color-secondary-dark; 
        border-radius: $border-radius-medium;
        box-shadow: .2rem .2rem .2rem $color-grey-dark-2;
        text-align: center;
        font-size: 1.6rem;

        & .show__title {
            width: 100%;
            background-image: linear-gradient(to bottom, $color-secondary-light, $color-secondary-medium);

            & h2 {
                font-size: 2.4rem;
                color: $color-white;
            }
        }
    }
}