.feedback {
    background-color: rgba($color-grey-dark, .4);
    height: 75%;
    overflow-y: scroll;

    & ul {
        text-align: left;

        & li {
            margin: 1rem;
            list-style: none;
        }
    }
}